
.sidebar {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s ease;
    padding-top: 3rem;
    z-index: 1000;     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.sidebar.open {
    width: 16rem;
}

.sidebar.closed {
    width: 0;
}

.sidebar .list-container {
    list-style-type: none;
    padding: 0;
}

.sidebar .list-item {
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
    color: #555;
}

.sidebar .list-item a {
    text-decoration: none;
    color: rgb(8, 8, 8);
    display: block;
}

.list-item:hover {
    background-color: #555; 
    border-left: 4px solid #ffcc00; 
}


.sidebar-icon {
    position: fixed;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    z-index: 1000; 
}


@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.sidebar.open {
    animation: slideIn 0.3s ease forwards;
}

.sidebar .list-item {
    border: 1px solid transparent; 
}

.sidebar .list-item:hover {
    border: 1px solid #ccc;
}

.list-item {
    display: flex; 
    align-items: center; 
  }
  
  .list-item svg {
    margin-right: 0.5rem;
  }

.list-container {
    list-style: none;
    padding: 0;
  }
  
  .list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .list-item svg {
    margin-right: 10px;
  }
  
  .list-item a {
    text-decoration: none;
    color: inherit;
  }
  
  
  .list-item:hover {
    background-color: #e0e0e0; /* Light gray for hover effect */
}

.sidebar {
    background-color: #26232370; /* White background for sidebar */
    border-right: 1px solid #e0e0e0; /* Light gray border for sidebar */
}




   
  
